@charset "utf-8";
/* CSS Document */


@media all and (max-width: 1000px) {
	.printblockmain	{		width:92%;	}
	.abscentre {overflow:visible; min-height:0px; min-width:200px;}
	
	.printblockimage > img {
		max-height:114px;
		max-width:95%;
		text-decoration:none;
		border:none;
		float:left;
		margin:5px;
	}
	
}